
  <!-- Contact Section Start -->
  <section id="contact" class="section" data-stellar-background-ratio="-0.2">      
    <div class="contact-form">
      <div class="container">
        <div class="row">     
          <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="contact-us">
              <h3>Entre em contato </h3>
              <div class="contact-address">
                <p class="phone">Telefone: <span>(98 981065272)</span></p>
                <p class="email">E-mail: <span>(frichardben@yahoo.com.br)</span></p>
              </div>
              <div class="social-icons">
                <ul>
                  <li class="facebook"><a href="{{ social.url }}"><i class="fa fa-facebook"></i></a></li>
                  <li class="whatsapp"><a href="{{ social.url }}"><i class="fa fa-whatsapp"></i></a></li>
                  <li class="telegram"><a href="{{ social.url }}"><i class="fa fa-telegram"></i></a></li>
                  <li class="linkedin"><a href="{{ social.url }}"><i class="fa fa-linkedin"></i></a></li>
                  <li class="github"><a href="{{ social.url }}"><i class="fa fa-github"></i></a></li>
                  
                </ul>
              </div>
            </div>
          </div>     
          <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="contact-block">
              <form action="https://formspree.io/{{ site.email }}" method="POST" id="contactForm">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" placeholder="Your Name" id="name" class="form-control"  name="name"  required data-error="Please enter your name">
                      <div class="help-block with-errors"></div>
                    </div>                                 
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" placeholder="Your Email" id="email" class="form-control" name="_replyto" required data-error="Please enter your email">
                      <div class="help-block with-errors"></div>
                    </div> 
                  </div>
                  <div class="col-md-12">
                    <div class="form-group"> 
                      <textarea class="form-control" id="message" placeholder="Your Message" rows="8" data-error="Write your message" required></textarea>
                      <div class="help-block with-errors"></div>
                    </div>
                    <div class="submit-button text-center">
                      <button class="btn btn-common" id="submit" type="submit">Enviar</button>
                      <div id="msgSubmit" class="h3 text-center hidden"></div> 
                      <div class="clearfix"></div>
                      
                    </div>
                  </div>
                </div>            
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>           
  </section>
  <!-- Contact Section End -->
