<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="author" content="Grayrids">
  <title>{% if page.title %}{{page.title}}{% else %}{{site.title}}{% endif %}</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{"assets/css/bootstrap.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{"assets/css/font-awesome.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{"assets/css/line-icons.css" | relative_url }}">
  <link rel="stylesheet" href="{{"assets/css/owl.carousel.css" | relative_url }}">
  <link rel="stylesheet" href="{{"assets/css/owl.theme.css" | relative_url }}">
  <link rel="stylesheet" href="{{"assets/css/nivo-lightbox.css" | relative_url }}">
  <link rel="stylesheet" href="{{"assets/css/magnific-popup.css" | relative_url }}">
  <link rel="stylesheet" href="{{"assets/css/slicknav.css" | relative_url }}">
  <link rel="stylesheet" href="{{"assets/css/animate.css" | relative_url }}">
  <link rel="stylesheet" href="{{"assets/css/main.css" | relative_url }}">    
  <link rel="stylesheet" href="{{"assets/css/responsive.css" | relative_url }}">

</head>