 <!-- Services Section Start -->
 <section id="services" class="section">
    <div class="container">
      <div class="section-header">          
        <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Serviços</h2>
         
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
            <div class="icon">
              <i class="lnr lnr-screen"></i>
            </div>
            <h4>Web Development</h4>
            <p>Site performance, design responsivo, e novas tecnologias.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
            <div class="icon">
              <i class="lnr lnr-code"></i>
            </div>
            <h4>Mobile App</h4>
            <p>Aplicações híbridas de qualidade elevada além de interface atrativa.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="item-boxes wow fadeInDown" data-wow-delay="1.2s">
            <div class="icon">
              <i class="lnr lnr-magnifier"></i>
            </div>
            <h4>SEO</h4>
            <p>Obtenha melhor posicionamento internet por prática de Mercado.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Services Section End -->   

  

  